<div class="panel-group knockout-grids_t1" id="div_nomeObsArray">
    <div class="panel" data-bind="with: nomeObsArrayPaginate">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#nomeObsArray">
                    <b>nomeObsArray</b>
                    <br class="visible-xs" />
                    <span data-bind="text: '(' + items().length + ' nomeObsArray)'"></span>
                </a>
                <br class="visible-xs" />
                <input type="text" style="float:right;" data-bind="value: search, valueUpdate:'afterkeydown'"
                       placeholder="PlaceHolder" />
            </h3>

            <div style="clear:both;"></div>
        </div>

        <div class="panel-collapse collapse in" id="nomeObsArray">
            <div class="panel-body">
                <span data-bind="visible: items().length == 0"><b>Nessun nomeObsArray presente</b></span>

                <div class="table-responsive" data-bind="visible: items().length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                headerSortingHtml
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: itemsInPageSorted()">
                            <tr>
                                headerDataHtml
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pagination-menu" data-bind="visible: items().length > 0">
                    <div class="div_menupaging">
                        <button data-bind="click: previous" class="btn"><i class="glyphicon glyphicon-step-backward"></i></button>
                        <label data-bind="text: (parseInt(paginaAttuale()) + 1) + ' / ' + pagesNumber(), visible: isEditingPageIndex() == false, click: goToEditPageIndex" class="badge"></label>
                        <input type="number" data-bind="value: paginaAttualeChange, visible: isEditingPageIndex() == true" />
                        <button data-bind="click: next" class="btn"><i class="glyphicon glyphicon-step-forward"></i></button>
                    </div>

                    <div class="div_menusizing">
                        <button data-bind="click: pageSizeMinus" class="btn"><i class="glyphicon glyphicon-minus"></i></button>
                        <span>Page Size: </span>
                        <label data-bind="text: pageSize(), visible: isEditingPageSize() == false, click: goToEditPageSize" class="badge"></label>
                        <input type="number" data-bind="value: pageSize, visible: isEditingPageSize() == true" />
                        <button data-bind="click: pageSizePlus" class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>

                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>