<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" id="div_header">
    <div class="container">

        <div class="navbar-header navbar-left pull-left">
            <a href="#" class="navbar-brand">Titolo</a>
        </div>

        <div class="navbar-header navbar-right pull-right">
            <!-- Logo addizionale -->
            <!--
            <ul class="nav pull-left">
                <li class="navbar-text pull-left">
                    <span>
                        <a href="https://www.xerox.it" target="_blank">
                            <img src="/Content/Images/logo_Xerox.svg" style="width:72px;height:20px;" />
                        </a>
                    </span>
                </li>
            </ul>
            -->

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="visible-xs-block clearfix"></div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li data-bind="visible: isAdmin() == true">
                    <a href="#/amministrazione/utenti">Amm Utenti</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li data-bind="visible: isAuth() != true">
                    <a href="#/account/register">Registrazione</a>
                </li>
                <li data-bind="visible: isAuth() != true">
                    <a href="#/account/login">Login</a>
                </li>
                <li data-bind="visible: isAuth() == true">
                    <a href="#/account/user" data-bind="text: userTrimmed, attr: {title: username}"></a>

                    <!-- TODO: testare se preferibile
                    <a href="#/account/user" data-bind="text: userTrimmed, attr: {title: username}" class="hidden-md hidden-sm"></a>

                    <a href="#/account/user" data-bind="attr: {title: username}" class="visible-md visible-sm">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                    -->
                </li>
            </ul>

        </div>
    </div>
</nav>


