html{
    height:100%;
}

body {
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

#div_body{
    height:100%;
}

/* remove page-header default margin-top for smaller browser */
@media (max-width: 980px) {
  .page-header {
    margin-top: 0;
  }
}

/* for smaller browser text-align center*/
@media (max-width: 768px) {
    .dl-horizontal{
        text-align:center;
    }
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* per i device piu' piccoli centro il testo (puo' andare a capo, quindi si vede meglio centrato) */
@media (max-width: 980px) {
  h1 {
    text-align:center;
  }
}

/* Starting Logo */
#div_starterPage {
    width: 300px;
    margin: auto;
}
    #div_starterPage td {
        text-align: center;
    }


/* Account/Login */
@media (max-width: 980px) {
    #div_login {
        width: 312px;
        margin: auto;
    }
}

#div_login #input_login {
    width: 100px;
    height: 40px;
}


/* Account/user */
#div_userInfo{
    min-height: 40px;
}