<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>

    <!--
      Off to show error details even in production,
      RemoteOnly is the one that should be used
    -->
    <customErrors mode="On" defaultRedirect="/#/errors/generic">
      <error statusCode="500" redirect="/#/errors/internal"/>
      <error statusCode="404" redirect="/#/errors/notfound"/>
    </customErrors>

    <!-- Install Microsoft.AspNet.Identity.Core.it
      and uncomment globalization to use messages in italian -->
    <!-- <globalization culture="it-IT" uiCulture="it" /> -->
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="noreply@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="noreply@gmail.com" password="password"/>
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true"/>
  </system.net>

  <system.webServer>
    <!-- requires IIS module -->
    <rewrite>
      <rules>
        <clear/>
        <!--Redirect to https-->
        <!--
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        -->

        <!--redirect if path doesn't contains... -->
        <!--
        <rule name="Redirect if do not contains" stopProcessing="true">
          <match url="^((?!Rankings|End|Errors|Content|Scripts|favicon|bootstrap|jquery|site|modernizr|SOURCESANSPRO).)*$" />

          <action type="Redirect" url="https://{HTTP_HOST}/App/End.html" redirectType="Temporary" appendQueryString="false" />
        </rule>
        -->

        <!--It always must be the last rule!-->
        <rule name="Rewrite SPA" stopProcessing="true">
          <match url="^$"/>
          <action type="Rewrite" url="App/Index.html"/>
        </rule>
      </rules>
    </rewrite>

    <!--Access-Control-Allow-Origin: if someone goes to the http site and we redirect him to the https, the browser could not permit it -->
    <!--
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://www.website.com" />
      </customHeaders>
    </httpProtocol>
    -->

    <staticContent>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <remove name="Default"/>
        
        <!-- Trace in Application Insights (requires package) -->
        <add name="myAppInsightsListener"
          type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>

        <!-- Trace in File Log (requires iis_usrss write permission) -->
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>